<h2>新規登録</h2>
<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "user/shared/error_messages", resource: @user %>
  <div class="row field my-2">
    <%= f.label :ユーザー名, class: "col-md-3" %>
    <%= f.text_field :name, required: true, autocomplete: "post_code", class: "col-md-4" %>
  </div>
  
  <div class="row field my-2">
    <%= f.label :メールアドレス, class: "col-md-3" %>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "col-md-4" %>
  </div>

  <div class="row field my-2">
    <div class="col-md-3">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %>
    </div>
    <%= f.password_field :password, required: true, autocomplete: "new-password", class: "col-md-4" %>
  </div>

  <div class="row field my-2">
    <%= f.label :"パスワード(確認用)", class: "col-md-3" %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "col-md-4" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "text-light btn btn-success btn-lg mb-3" %>
  </div>
<% end %>
<div class="row ml-4 mb-3">
  <%= render "user/shared/links" %>
</div>
<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, class: "btn btn-secondary btn-lg mb-3 sign_in", method: :post %>
</div>