<table class="table border border-secondary">
  <thead>
    <tr>
      <th class="border border-secondary">企画タイトル</th>
      <th class="border border-secondary">募集状況</th>
      <th class="border border-secondary">タグ</th>
      <th class="border border-secondary">いいね数</th>
      <th class="border border-secondary">募集期限</th>
      <th class="border border-secondary">募集人数(残数)</th>
    <% if current_page?(users_path) %>
      <th class="border border-secondary">投稿ユーザー</th>
    <% end %>
      <th class="border border-secondary">最終更新日</th>
    <% if current_page?(user_joined_project_index_path(current_user)) %>
      <th class="border border-secondary">取消</th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project_path(project.id) do %>  
            <%= project.title %>
          <% end %>
        </td>
        <td>
          <%= project.status_i18n %>
        </td>
        <td>
          <%= project.category %>
        </td>
        <td>
          <%= project.favorites.count %>
        </td>
        <td>
          <%= l project.deadline %>
        </td>
        <td>
          <%= project.capacity %>人(<%= project.remaining_number %>人)
        </td>
      <% if current_page?(users_path) %>
        <td>
          <% project.user.name %>
        </td>
      <% end %>
        <td>
          <%= l project.updated_at %>
        </td>
      <% if current_page?(user_joined_project_index_path(current_user)) %>
        <td>
          <% if JoinProject.find_by(user_id: current_user.id, project_id: project.id).status == "applying" %>
            <%= link_to "取消", project_join_project_path(project.id, project.user.id), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <p class="btn btn-secondary">取消不可</p>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>