<table class="border border-secondary">
  <thead>
    <tr>
      <th class="border border-secondary">企画タイトル</th>
      <th class="border border-secondary">募集状況</th>
      <th class="border border-secondary">タグ</th>
      <th class="border border-secondary">いいね数</th>
      <th class="border border-secondary">募集期限</th>
      <th class="border border-secondary">募集人数(残数)</th>
    <% if current_page?(users_path) %>
      <th class="border border-secondary">投稿ユーザー</th>
    <% end %>
      <th class="border border-secondary">最終更新日</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project_path(project.id) do %>  
            <%= project.title %>
          <% end %>
        </td>
        <td>
          <%= project.Invitation_status_i18n %>
        </td>
        <td>
          <%= project.category %>
        </td>
        <td>
          <%= project.favorites.count %>
        </td>
        <td>
          <%= l project.deadline %>
        </td>
        <td>
          <%= project.capacity %>人(<%= project.remaining_number %>人)
        </td>
      <% if current_page?(users_path) %>
        <td>
          <% project.user.name %>
        </td>
      <% end %>
        <td>
          <%= l project.updated_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>