<div class="col-md-9">
  <h1>企画内容
    <% if current_user.id == @project.user_id %>
      <%= link_to "企画情報を編集する", edit_project_path(@project), class: "btn btn-success" %>
      <%= link_to "申込者を確認する", project_joined_user_index_path(@project), class: "btn btn-success" %>
    <% end %>
  </h1>
  
  <div class="row">
    <h1 class="col-md-8"><%= @project.title %></h1>
      <div class="col-md-4">
      <% if current_user != @project.user %>
        <div id="favorite_buttons_<%= @project.id %>">
          <%= render "favorites/favorite_btn", project: @project %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <p><%= image_tag @project.get_project_image, size:'640x360' %></p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集状況：</p>
      <%= render 'projects/status', project: @project %>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集ユーザー</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @project.user.get_user_image, size:'100x100' %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div>
          <h1><%= @project.user.name %>さん</h1>
        </div>
      </div>
      <div class"row">
        企画最終編集日：<%= l @project.updated_at %>
      </div>
    </div>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>企画詳細</p>
  </div>
  <div class="row border border-secondary rounded-lg pl-1">
    <p><%= @project.introduction %></p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集日時(開催日初日)</p>
  </div>
  <div class="row pl-1">
    <p><%= l @project.start_time %></p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集日時詳細(候補日など)</p>
  </div>
  <div class="row border border-secondary rounded-lg pl-1">
    <p><%= @project.start_time_detail %></p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>タグ</p>
  </div>
  <div class="row pl-1">
      <%= link_to @project.category, search_path(word: @project.category, range:'企画タグ'), class: "btn btn-dark" %>
    </p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集条件</p>
  </div>
  <div class="row border border-secondary rounded-lg pl-1">
    <p><%= @project.requirement %></p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集人数(残り人数)</p>
  </div>
  <div class="row pl-1">
    <p><%= @project.capacity %>人(<%= @project.remaining_number %>人)</p>
  </div>
  <div class="row">
    <p><i class="fas fa-circle"></i>募集期限</p>
  </div>
  <div class="row pl-1">
    <p><%= l @project.deadline %>まで</p>
  </div>
  <div class="row my-1">
    <%= render 'projects/join_project', project: @project %>
  </div>
</div>
  <h5>コメント</h5>
  <div class="row ", id="comments_list">
    <%= render "project_comments/index", project_comments: @project_comments %>
  </div>
  <div class="row", id="comment_form row">
    <%= render "project_comments/form", project: @project %>
  </div>
