<div class="row">
  <h1>
    <%= link_to user_path(@another_entry.user_id) do %>
      <%= @another_entry.user.name %>
    <% end %>
    さんとのDM
  </h1>
</div>
<div class="row">
  <%= render "form", dmroom: @dmroom, message: @message %>
</div>
<div class="row", id="message">
  <%= render "index", dmroom: @dmroom,messages: @messages %>
</div>
<div class="row justify-content-center">
  <%= paginate @messages %>
</div>
